body{
    margin: 0;
}
 
h1{
    margin-top: 0;
    
}
.top-container{
    background-color: CBEDD5;
    
}
.middle-container{
    width: 200px;
    hight: 200px;
    background-color: red;
}
.bottom-container{
    width: 200px;
    hight: 200px;
    background-color: blue;
}